html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #191919;
    overflow: hidden;
}

h1 {
    color: white;
   	text-align: center;
   	margin-top: 5%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 2vw;
}

.menu {
    background-color: #e6e6e6;
    width: 20%;
    height: 50%;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 5%;
    float: left;
}

.button {
    background-color: DodgerBlue; /* Green */
    border: none;
    color: white;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.85vw;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
    float: left;
    border-radius: 10px;
}

.button:before {
    width: 7.5%;
    float: left;
    margin-left: 2.5%;
}

.button:after {
    width: 7.5%;
    float: right;
    margin-right: 2.5%;
}

.compBtn:before {
    content: url("../res/user.svg");
}
.compBtn:after {
    content: url("../res/robot.svg");
    width: 10% !important;
}
.twoPlayersBtn:before {
    content: url("../res/user.svg");
}
.twoPlayersBtn:after {
    content: url("../res/user.svg");
}
.onlineBtn:before {
    content: url("../res/user.svg");
}
.onlineBtn:after {
    content: url("../res/globe.svg");
}
.settingsBtn:before {
    content: url("../res/cogs.svg");
    width: 10% !important;
}
.aboutBtn:before {
    content: url("../res/info.svg");
    width: 3.5% !important;
}

.insertChipBtn {
	width: 0;
	height: 0;
	border: none;
	border-left: 25px solid #191919;
	border-right: 25px solid #191919;
	border-top: 50px solid lightgreen;
	float: left;
}

.insertChipBtn:hover {
	background-color: green;
}

.menu .button:hover {
    background-color: RoyalBlue;
}

.menu .button .usericon {
    width: 10%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid blue;
  border-right: 20px solid blue;
  
  border-top: 20px solid #0f0;
  text-decoration: none;
  cursor: pointer;
}

.backBtn {
	position: absolute;
	right: 2%;
	bottom: 2%;
	background-color: DodgerBlue;
    border: none;
    color: white;
    width: 15%;
    height: 5%;
    
    text-align: center;
    text-decoration: none;
    font-size: 0.85vw;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.statusText {
	color: white;
	position: fixed;
	bottom: 5%;
	text-align: center;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 2vw;
	margin-left: 0.5%;
}
